.wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.rect {
    background-color: white;
    border-radius: 90px;
    overflow: hidden;
    -webkit-animation: rec .2s ease-in-out;
    animation: rec .2s ease-in-out;
    height: 100%;
    -webkit-box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
}


@-webkit-keyframes rec {
    0% {
        -webkit-transform: translate(0px, 400px);
        transform: translate(0px, 400px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}


@keyframes rec {
    0% {
        -webkit-transform: translate(0px, 400px);
        transform: translate(0px, 400px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

.circle {
    width: 80%;
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    -webkit-animation: emo .3s ease-in-out.1s;
    animation: emo .3s ease-in-out.1s;
}

.circle:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    cursor: pointer;
}

.dislike {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dislike:hover {
    -webkit-transform: scale(1.5) rotate(180deg);
    transform: scale(1.5) rotate(180deg);
}

@-webkit-keyframes emo {
    0% {
        -webkit-transform: scale(5) translate(0px, -1px);
        transform: scale(5) translate(0px, 400px);
    }
    100% {
        -webkit-transform: scale(1) translate(0px, 0px);
        transform: scale(1) translate(0px, 0px);
    }
}

@keyframes emo {
    0% {
        -webkit-transform: scale(5) translate(0px, -1px);
        transform: scale(5) translate(0px, 400px);
    }
    100% {
        -webkit-transform: scale(1) translate(0px, 0px);
        transform: scale(1) translate(0px, 0px);
    }
}


@media (min-width: 426px) and (max-width: 650px) {
    .rect {
        height: 60px;
    }
    .circle {
        height: 60px;
        width: 60px;
    }
}

@media screen and (max-width: 425px) {
    .rect {
        height: 50px;
    }
    .circle {
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 375px) {
    .rect {
        height: 50px;
    }
    .circle {
        height: 49px;
        width: 49px;
    }
}

@media screen and (max-width: 320px) {
    .rect {
        height: 40px;
    }
    .circle {
        height: 40px;
        width: 40px;
    }
}
